.btn-primary {
    display: inline-block;
    background-color: #102542;
    color: white;
    padding: 14px 32px;
    border-radius: 4px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #C0392B;
    color: white;
}